.showAnimalSection {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  article {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
      width: 50vw;
      li {
      }
    }
    img {
      width: 200px;
      margin: 20px;
    }
  }
}
